* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    list-style: none;
}

body {
    
    height: 1440px;
}

a:visited {
    color: red;
    padding: 10px;
}

.header {
    font-weight: bold;
    font-size: 50px;
    width: 100%;
    padding: 30px;

    display: flex;
    justify-content: space-between;

    position: fixed;

    color: red;
    background: white;

    z-index: 5;
}

.img {
    display: flex;
    width: auto;
    height: 100%;
    background: url('images/evian_origins_logo.png') center no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-text {
    text-align: center;
    position: absolute;
    font-size: 50px;
    width: 1200px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}

.test-cont {
    display: flex;
    justify-content: center;
    
}

.container {
    width: 1024px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.border {
    width: 1024px;
    font-size: 15px;
    border: 5px solid #F8BFC7;
    border-radius: 30px;
    
    padding: 50px;
    
    margin-top: 80px; 
    margin-bottom: 100px;
    
    display: flex;
    justify-content: center;
}

.buttles {
    height: 900px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    
}

.buttle-1 {
    width: 280px;
    height: 863px;
    background: url('images/wang.png');

}
.buttle-2 {
    background: url('images/blue.png');
    display: flex;
    width: 280px;
    height: 863px;
}

.buttle-3 {
    background: url('images/chiara.png');
    display: flex;
    width: 280px;
    height: 863px;
}

.descriptions {
    display: flex;
    justify-content: space-around;
}

.buttle {
    background: url('images/glass.png');
    display: flex;
    margin-right:  150px;
    width: 100px;
    height: 220px;
}

.text li {
    font-size: 15px;
    margin-bottom: 25px;
}


.footer {
    display: flex;
    height: 100px;
    width: 100%;
    color: white;
    padding: 50px;
    font-size: 25px;
    background-color: #F8BFC7;
}
